# Getting started workflow for Github Actions

name: CI

# Controls when the network is running
on:
  # Triggers the workflow on push or pull request, but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# A worflow run is made up of one ore more jobs that can run sequentially or in parallel
jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
        with:
          fetch-depth: 0
      - name: Add remote
        env:
          HF: ${{ secrets.HF }}
        run: git remote add space https://huggingface.co/spaces/amasiukevich/demo2
      - name: Debug Git configuration
        run: |
          git config --list
      - name: Push to hub
        env: 
          HF: ${{ secrets.HF }}
        run: git push --force https://amasiukevich:{{HF}}@huggingface.co/spaces/amasiukevich/demo2 main
        
      
